/* MAIN CSS FILE FOR PROJECT */
body{
    background-color: #c3bfbb;
    font-family: "Handwriting";
}

.tick line{
    visibility: hidden;
}

#slideupCharts{
    background-color: oldlace;
    width: 1250px;
    height: 800px;
    overflow: scroll;
    pointer-events: none;
    position: absolute;
    top:100px;
    opacity:0;
}

#bottleglasscharts{
/*    background-color: oldlace;*/
    width: 1250px;
    height: 800px;
}
